{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}

<div class=" container  ">
    <h1 class="text-center mb-4">Bienvenue !</h1>
    <div class="row">
    
    <h3 class="mb-3">Recherche de Gîtes</h3>
    <div class="row d-flex mb-3">
        {{ form_start(form, {'attr': {'class': 'w-100 d-flex flex-wrap'}}) }}
        <div class="col-md-3">
            {{ form_row(form.region) }} 
        </div>
        <div class="col-md-3">
            {{ form_row(form.departement) }} 
        </div>
        <div class="col-md-3">
            {{ form_row(form.ville) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.equipements) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.services) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.animauxacceptes) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.rechercher) }}
        </div>
        <div class="col-md-3">
                        <a href="{{ path('app_home') }}" class="btn btn-info btn">Réinitialiser les filtres</a>
                    </div>
        {{ form_end(form) }}
    </div>
</div>

        
        <h2 class="text-center bg-info mb-5">Liste des gîtes</h2>

        <ul class="d-flex flex-row flex-wrap">
        {% for gite in gites %}
                <li class="m-2 p-2">
                    <strong>{{ gite.nom }}</strong> 
                    <br>
                    Adresse: {{ gite.adresse.voie }}, {{ gite.adresse.codePostal }} {{ gite.adresse.ville }}
                    <br>
                    Propriétaire : {{ gite.proprietaire.nom }} 
                    <br>
                    téléphone :{{ gite.proprietaire.telephone }}
                    <br>
                    Animaux acceptés : {{ gite.animauxAcceptes ? 'Oui' : 'Non' }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
